*{
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
font-family: 'Times New Roman', Times, serif;
color: black;
}

body {
background-image: url("https://images.pexels.com/photos/313700/pexels-photo-313700.jpeg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh;   
}
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
}

header .logo {
  font-size: 3rem;
  font-weight: bold;
color: rgb(0, 0, 0);
text-shadow: 0 0 6px black;
}

header nav ul {
  display: flex;       
  gap: 8rem;           
  list-style: none;   
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);        
  font-size: 1.2rem;
  text-shadow: 0 0 6px black;
}
header nav ul li a:hover {
 text-decoration: underline;
  transition: 0.5s;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
  padding: 5rem;
}
.wine {
  width: 50%;
  height: auto;
  border-radius: 20px;              
  border: 5px solid rgba(255,255,255,0.7); 
  box-shadow: 0 0 25px rgba(0,0,0,0.6);   
  padding: 10px;                    
  background: rgba(255,255,255,0.2); 
  object-position: bottom;      
  
}
.pro{
  font-size: 1.5rem;
  margin-top: 1rem;
}
